<div class="loginfom frontform">
  <h3><%= t("general.change_my_password") %></h3>
  <%= form_for @user, :url => change_password_path, :method => :put do |f| %>
    <div class="field">
      <%= t("general.current_password") %><span class="redStar">*</span>
  		<% if flash[:error_current] %>
  			<i class="alert-error">
  				<%= flash[:error_current] %>
  			</i>
  		<% end %>
    </div>
  	<%= f.password_field :current_password, :class => "input-xxlarge" %>
  
    <div class="field">
      <%= t("general.new_password") %><span class="redStar">*</span>
  		<% if flash[:error_pass] %>
  			<i class="alert-error">
  				<%= flash[:error_pass] %>
  			</i>
  		<% end %>
    </div>
    <%= f.password_field :password, :class => "input-xxlarge" %>
    
    <div class="field">
      <%= t("general.new_password_confirmation") %><span class="redStar">*</span>
    </div>  
    <%= f.password_field :password_confirmation, :class => "input-xxlarge" %>
    
    <div class="field">
      <%= f.submit t("general.update_password"), :class => 'btn btn-info' %>
    </div>
  <% end %>
  
  <script type="text/javascript">
  	$('#user_current_password').focus();
  </script>
</div>
<div class="clearb"></div>