<div class="loginfom frontform">
  <%= form_for [@o_single] do |f| %>
    <p>
      <%= t("general.name") %><i class="redStart">*</i>
  		<% if @o_single.errors[:name].any? %>
  			<span class="text-error">	
  				<%= t('general.field_required') %>
  			</span>
  		<% end %>
  	</p>	
  	<%= f.text_field :name %>	
  	
    <p>
      <%= t("general.code") %><i class="redStart">*</i>
      <% if @o_single.errors[:code].any? %>
        <span class="text-error">  
          <%= t('general.field_required') %>
        </span>
      <% end %>
    </p>  
    <%= f.text_field :code %> 	
  
    <p>
      <%= t('general.image') %>
    </p>  
    <%= f.file_field :image %>
    <p>
      <%= image_tag @o_single.image_url(:lang) if @o_single.image? %>
    </p> 
    
    <p>
      <%= t('general.is_active') %>
      <%= f.check_box :is_active %>
    </p>
  
    <p>
      <%= f.submit :value => t("general.save"), :class => "btn btn-info" %>
      <%= link_to t("general.back"), languages_path, :class => "btn btn-info" %>
    </p>
  <% end %>
  <div class="cl"></div>
</div>

