<div class="loginfom frontform">
  <%= form_for [@o_single] do |f| %>
    <p>
      <%= t("general.name") %><i class="redStart">*</i>
  		<% if @o_single.errors[:name].any? %>
  			<span class="text-error">	
  				<%= t('general.field_required') %>
  			</span>
  		<% end %>
  	</p>	
  	<%= f.text_field :name %>	
  	
    <p>
      <%= t("general.content") %>
    </p>  
    <%= f.cktext_area :content %>   	
  	
    <p>
      <%= t("general.page_route") %><i class="redStart">*</i>
      <% if @o_single.errors[:page_route].any? %>
        <span class="text-error">  
          <%= t('general.field_required') %>
        </span>
      <% end %>
    </p>  
    <%= f.text_field :page_route %> 	
  
    <p>
      <%= t("general.select_language") %>
    </p>  
    <%= f.select :language_id, options_for_select(Language.all.collect {|p| [ p.name, p.id ] }, @o_single.language_id), {:include_blank => true }  %>   
    
    <p>
      <%= t('general.is_active') %>
      <%= f.check_box :is_active %>
    </p>
  
    <p>
      <%= f.submit :value => t("general.save"), :class => "btn btn-info" %>
      <%= link_to t("general.back"), pages_path, :class => "btn btn-info" %>
    </p>
  <% end %>
  <div class="cl"></div>
</div>
